Repository Samay97/recommender-engine, pull requests merged in 2022-03, with the labels that each got.

#16 remove later
  backend/Dockerfile
  backend/package-lock.json
  backend/package.json
  backend/src/app.ts
  docker-compose.yaml
Labels: Backend, Waiting for review

#19 feature/getProductsById
  backend/src/controllers/products.controller.ts
  backend/src/routes/products.route.ts
  backend/src/services/products.service.ts
Labels: Backend, Waiting for review

#17 Re 56 fronted basic webshop setup
  docker-compose.yaml
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.component.html
  frontend/src/app/app.component.scss
  frontend/src/app/app.module.ts
  frontend/src/app/core/config/config.ts
  frontend/src/app/core/config/index.ts
  frontend/src/app/core/dto/category.ts
  frontend/src/app/core/dto/index.ts
  frontend/src/app/core/dto/message.ts
  frontend/src/app/core/dto/product.ts
  frontend/src/app/core/dto/response.ts
  frontend/src/app/core/pipes/image-resolver.pipe.spec.ts
  frontend/src/app/core/pipes/image-resolver.pipe.ts
  frontend/src/app/core/services/category.service.ts
  frontend/src/app/core/services/index.ts
  frontend/src/app/core/services/product.service.ts
  frontend/src/app/core/services/user.service.ts
  frontend/src/app/core/shared-module.module.ts
  frontend/src/app/views/footer/footer.component.html
  frontend/src/app/views/footer/footer.component.scss
  frontend/src/app/views/footer/footer.component.spec.ts
  frontend/src/app/views/footer/footer.component.ts
  frontend/src/app/views/header/header.component.html
  frontend/src/app/views/header/header.component.scss
  frontend/src/app/views/header/header.component.spec.ts
  frontend/src/app/views/header/header.component.ts
  frontend/src/app/views/home/home.component.html
  frontend/src/app/views/home/home.component.scss
  frontend/src/app/views/home/home.component.spec.ts
  frontend/src/app/views/home/home.component.ts
  frontend/src/app/views/index.ts
  frontend/src/app/views/page-not-found/page-not-found.component.html
  frontend/src/app/views/page-not-found/page-not-found.component.scss
  frontend/src/app/views/page-not-found/page-not-found.component.spec.ts
  frontend/src/app/views/page-not-found/page-not-found.component.ts
  frontend/src/app/views/product-list/product-list.component.html
  frontend/src/app/views/product-list/product-list.component.scss
  frontend/src/app/views/product-list/product-list.component.spec.ts
  frontend/src/app/views/product-list/product-list.component.ts
  frontend/src/app/views/product/product.component.html
  frontend/src/app/views/product/product.component.scss
  frontend/src/app/views/product/product.component.spec.ts
  frontend/src/app/views/product/product.component.ts
  frontend/src/app/views/recommendations/recommendations.component.html
  frontend/src/app/views/recommendations/recommendations.component.scss
  frontend/src/app/views/recommendations/recommendations.component.spec.ts
  frontend/src/app/views/recommendations/recommendations.component.ts
  frontend/src/app/views/view.module.ts
  frontend/src/index.html
  frontend/src/proxy.conf.json
  frontend/src/styles.scss
  frontend/tsconfig.json
Labels: Frontend, Waiting for review

#21 feature/add max pages
  backend/src/controllers/products.controller.ts
  backend/src/routes/products.route.ts
  backend/src/services/products.service.ts
Labels: Backend, Waiting for review, Ready to Merge

#20 Feature/re 60 setup recommender engine python
  docker-compose.yaml
  recommender-engine/Dockerfile
  recommender-engine/app.py
  recommender-engine/requirements.txt
Labels: Backend, Waiting for review, Ready to Merge
